.sidebar {
  position: absolute;
  display: none;
  background: #fff;
  width: 317px;
  height: 1720px;
  border-left:1px #33333328 solid ;
  padding-left: 20px;
}

.sidebar.open {
  
  display:block;
}

.background {
  position: absolute;
  width: 1500px;
  height: 1000px;
background: #000;
opacity: .3;
}

.nav {
 }

.nav a {
  display: flex;
  margin-top: 45px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  transition: all .2s linear;
  text-decoration: none;
}



.nav a:hover {
  color: #58acff;
}

.nav a.active {
  text-decoration-line: underline;
  color: #0059b2;
}
.close {
  margin-top: 30px;
  background: #fff;
  border: none;
  cursor: pointer;
  margin-left: 250px;
}

.close img {
  
}
