@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
.App {
    --header_height: 60px;
}

.hw {
    background:;
}

.hwTitle {
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */
margin-top: 131px;
padding-bottom: 10px;
border-bottom: 1px solid #D9D9D9;
color: #000000;
}